@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body {
    background: theme('colors.bg.DEFAULT');
    color: theme('colors.ink.DEFAULT');
    font-feature-settings: 'cv11', 'ss01';
    -webkit-font-smoothing: antialiased;
  }
}
